data/
htmlcov/
logs/
tmp/
.github/
.coverage
.cache/
.idea/
.netlify/
.vscode/
content/
functions/
node_modules/
public/
src/
static/
target/
.babelrc
.envrc
.eslintrc
.gitattributes
.gitignore
.prettierignore
.prettierrc
Cargo.lock
Cargo.toml
gatsby-*
package.json
yarn-*