export ADMIN=bathysphere@oceanics.io
export ADMIN_PASS=n0t_passw0rd
export NEO4j_AUTH=neo4j/neo4j
export API_KEY=qc-Fq-xKEWG5ZU17kKZ1
export EMAIL_ACCT=nkeeney@oceanics.io
export EMAIL_KEY=6qvlmsdwq2bktjlj
export EMAIL_SERVER=smtp.fastmail.com
export EMAIL_PORT=465
export REPLY_TO=accounts@oceanics.io
export SECRET="blah blah blah"
export PORT=5000
export BASE_PATH=/api
export HOST=localhost
export DARKSKY_API_KEY=4227d9841e27ceaef930da32c5e682a4
export PG_USERNAME=bathysphere
export PG_PASSWORD=de2innbnm1w6r27y
export PG_HOST=bathysphere-do-user-3962990-0.db.ondigitalocean.com
export PG_PORT=25060
export PG_DATABASE=bathysphere
export REDIS_KEY=xs482ixawgebe25a
export LOBOVIZ_USER=maine.owner
export LOBOVIZ_PASSWORD=spring-deploy
export storageAccessKey=LUYFHHVXUCTYZESTMWV6
export storageSecretKey=lqTWWvtq/WiVXsZaBub29h+cUerthJNrWDa6PvczO70
export HMAC_KEY=53cr3t50fth3e53@
export DOCKER_MACHINE_PAK=34c4638c2a6f3f5111a1ccfd947ee2985d066ada1137c66134dee6d9cc42dcdc
export OPENFAAS_URL=http://faas.oceanics.io:8080
export OPENFAAS_KEY=03f0ab6f78e248558932dad8bc35528fc7802682cbfed0ce55629c0414596888
