build/
web-build/
node_modules/
oceanics-io-rust/
oceanics-io-api-rust/
oceanics-io-api-wasm/
.expo/
.next/
.yarn/
.vscode/
.idea/
.netlify/
.github/
oceanics-io-www/public/dev/storybook/
oceanics-io-www-rust/
oceanics-io-www-wasm/

oceanics-io-www/src/components/Simulation/useSimulation.tsx
