[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"

[packages]
colorama = "*"

[packages.e1839a8]
path = "."
editable = true
