[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"
pytest_dependency = "*"
pytest-cov = "*"
docker-compose = "*"
colorama = "*"
pytest-parallel = "*"

[requires]
python_version = "3.7"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
pyshp = "*"
pyproj = "*"
netCDF4 = "*"
pillow = "*"
scikit-learn = "*"
rdp = "*"
flask = "*"
flask_cors = "*"
gunicorn = "*"
connexion = "*"
neo4j-driver = "*"
itsdangerous = "*"
passlib = "*"
pyyaml = "*"
requests = "*"
retry = "*"
redis = "*"
pg8000 = "*"
bidict = "*"
prance = "*"
rq = "*"
attrs = "*"
click = ">=6.7"
minio = "*"
Jinja2 = "*"
MarkupSafe = "*"
pip = "*"
setuptools = "*"
Werkzeug = "*"
wheel = "*"
sqlalchemy = "*"
google-cloud-secret-manager = "*"
pytz = "*"
urllib3 = "<1.25,>=1.21.1"
pdoc3 = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"

[packages.e1839a8]
path = "."
editable = true
