[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"
pytest-dependency = "*"
pytest-cov = "*"
docker-compose = "*"
colorama = "*"
pytest-parallel = "*"
vulture = "*"

[requires]
python_version = "3.7"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
pyshp = "*"
pyproj = "*"
netCDF4 = "*"
Pillow = "*"
scikit-learn = "*"
Flask = "*"
Flask-Cors = "*"
gunicorn = "*"
connexion = "*"
neo4j-driver = "*"
itsdangerous = "*"
passlib = "*"
PyYAML = "*"
requests = "*"
retry = "*"
redis = "*"
pg8000 = "*"
bidict = "*"
prance = "*"
attrs = "*"
click = ">=6.7"
minio = "*"
Jinja2 = "*"
MarkupSafe = "*"
pip = "*"
setuptools = "*"
Werkzeug = "*"
wheel = "*"
SQLAlchemy = "*"
google-cloud-secret-manager = "*"
pdoc3 = "*"
urllib3 = "*"
psycopg2-binary = "*"

[packages.e1839a8]
path = "."
editable = true
