<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oceanicsdotio - Neritics API</title>
    <link rel="stylesheet" href="oceanics.css" type="text/css">
</head>
<body>

    <form name="configure-model" method="POST" data-netlify="true">
        <div class="required">
            <label for="name">Name:</label>
            <input type="text" id="name" name="person" required placeholder="Person to contact">
        </div>
        <div>
            <label for="company">Company:</label>
            <input type="text" id="company" name="company" placeholder="Legal entity">
        </div>
        <div>
            <label for="lease">Lease:</label>
            <input type="text" id="lease" name="lease" placeholder="Maine lease/license code">
        </div>
        <div>
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" placeholder="URL for company or lease PDF">
        </div>
        <div class="required">
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" name="user_mail" required>
        </div>
        <div class="required">
            <label for="stage">Stage:</label>
            <select id="stage" name="stage" required>
                <option value="Prospecting" selected>Prospecting</option>
                <option value="Applying">Applying</option>
                <option value="Operating">Operating</option>
                <option value="Renewing">Renewing</option>
                <option value="Expanding">Expanding</option>
            </select>
        </div>
        <div>
            <label for="urgency">Urgency:</label>
            <select id="urgency" name="urgency">
                <option value="high">Shellfish sanitation</option>
                <option value="high">Upcoming lease hearing</option>
                <option value="med">Lawsuit</option>
                <option value="low" selected>Exploring</option>
            </select>
        </div>
        <div class="required">
            <label for="species">Species:</label>
            <select id="species" name="species" multiple required>
                <option value="Oysters">Oysters</option>
                <option value="Scallops">Scallops</option>
                <option value="Mussels">Mussels</option>
                <option value="Macroalgae">Macroalgae (Seaweed)</option>
                <option value="Finfish">Finfish</option>
            </select>
        </div>
        <div class="required">
            <label for="methods">Methods:</label>
            <select id="methods" name="methods" multiple required>
                <option value="Bottom">Bottom</option>
                <option value="Rope(H)">Rope (Horizontal)</option>
                <option value="Rope(V)">Rope (Vertical)</option>
                <option value="Hang">Ear hang (Scallop)</option>
                <option value="Midwater">Midwater (Cage/Basket)</option>
            </select>
        </div>
        <div>
            <label for="coords">Location:</label>
            <input type="text" id="coords" name="coords" placeholder="43.998178, -69.54253">
        </div>

        <div class="required">
            <label for="details">Details:</label>
            <textarea id="details" name="details" required placeholder="Provide as much detail as you can about your desired growing area"></textarea>
        </div>
        <div class="button">
            <button type="submit">Send</button>
        </div>
    </form>
</body>
</html>