@charset "UTF-8";

ul li {
    background: inherit;
    display: inline-block;
    font-size: inherit;
    text-decoration: none;
    margin: 3px;
}

a, li:hover{
    color: #EF5FA1;
    transition:color 0.5s;
}


body, html{
    background: #000000;
    font-size: large;
    font-family: monospace;
    color: #CCCCCC;
    margin: 0;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


hr {
    border-top: 1px solid #CCCCCC;
}


input, button{
    background: #101010;
    border: solid 1px;
    font-family:inherit;
    color: #CCCCCC;
    text-decoration: none;
}


input[type=range] {
    margin: 10px;
    width: 50px;
    background: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: none;
    background: none;
    border-radius: 3px;
    border: 1px solid #FF00FF;
}

input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: 1px solid #FF00FF;
    height: 16px;
    width: 2px;
    border-radius: 3px;
    background: #000000;
}



.action-success {
    padding: 0.5em;
    color: #00d21e;
    background-color: #eeeeee;
    border-radius: 0.2em;
}

.action-failure {
    padding: 0.5em;
    color: #ff1408;
    background-color: #eeeeee;
    border-radius: 0.2em;
}



.container {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    outline: none;
    overflow-wrap: normal;
    text-align: center;
}

.container p {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 10;

}

.map-popup {
    background: #10101077;
    border: solid 1px;
    font-family:inherit;
    font-size: inherit;
    padding: 0;
    color: #CCCCCC;
}

.map-popup div {
    background: #10101077;
    border: none;
    margin: 0;
    float: left;
}
