.large {
  font-size: 1.5em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.oceanside {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.world {
  margin: 0;
  padding: 0;
  image-rendering: crisp-edges;
  display: none;
  width: 256px;
  height: 256px;
}

.board {
  margin: 0;
  padding: 0;
  image-rendering: crisp-edges;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  animation: fade-in 2s;
}

.placeholder {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  aspect-ratio: 1 / 0.8;
}
