.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.content {
  display: block;
  color: lightblue;
  width: 100%;
  max-width: 65ch;
  font-size: x-large;
}

.content p {
  text-align: justify;
  text-justify: inter-word;
}

.content strong {
  color: lightcyan;
}

.footer {
  display: block;
  position: relative;
  font-size: x-large;
  border-top: 1px dashed;
  color: lightblue;
  text-align: center;
  padding: 1em;
}

.link {
  text-decoration: underline wavy lightblue;
  text-underline-offset: 3px;
}

.nested a {
  text-decoration: underline wavy lightblue;
  text-underline-offset: 3px;
}
.nested a::before {
  content: "⚡ ";
}

.image {
  width: 100%;
}

.submit {
  padding: 0.5rem;
  font-size: larger;
  border-radius: 0.5rem;
  margin: 0.75rem auto 0.75rem 0;
  min-width: 200px;
  color: lightblue;
  background-color: black;
  border: 1px solid lightblue;
  box-shadow: 3px 3px 2px 0px darkviolet;
}
.submit:disabled {
  color: gray;
  background-color: lightgray;
}