openapi: "3.0.0"

info:

  title: "Bathysphere API"
  version: "2.0.0"
  description: |

    Bathysphere API is a store and registry for public and proprietary geospatial data. The system is designed to support marine research in the North Atlantic, but can be configured or extended for many applications.

    We ingest sensor and simulation data and automatically parse them into discoverable databases. Representing complex relationships between heterogenous data is simplified by applying a graph-native framework, backed by our [Neo4j](https://neo4j.com/) cluster.
    
    This approach applies to many flexible, high-level cases, from NASA managing their [lessons-learned](https://neo4j.com/blog/nasa-lesson-learned-database-using-neo4j-linkurious/)
    mission database, to modeling a [virtual economy](https://www.airpair.com/neo4j/posts/modelling-game-economy-with-neo4j).

    You probably have to share data anyway. Our middleware can enhance your data science and management experience by providing representation state transfer (REST) and graph-based services for...

    * Secure organizational accounts
    * Open Geospatial Consortium (OGC) SensorThings standard
    * [SpatioTemporal Assets Catalog](https://stacspec.org/) (STAC) standard
    * Provenance tracking
    * Granular access control and auditing

    By assessing data and service availability over your whole domain, projects can allocate resources to fill coverage gaps. This supports an open marketplace asset sharing model, which may be preferable to redundant operational and capital expenses.

  contact:
    name: Oceanicsdotio LLC
    url: http://www.oceanics.io
    email: business@oceanics.io

  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

  x-logo:
    url: https://www.oceanics.io/dagan.png

externalDocs:

  description: Welcome to the bazaar!
  url: https://github.com/oceanicsdotio/oceanics.io

tags:

  - name: Account
    description: |
      If you have an e-mail address associated with an organization known to us, you can register to use the database and services. Please review security and privacy information before uploading any proprietary data.

  - name: Catalog
    description: |
      Access data through the entity catalog interface. These are your generic CRUD operations.

  - name: Topology
    description: |
      Build topological relationships and access metadata.


servers:
- url: https://graph.oceanics.io/{basePath}
  description: Production API server
  variables:
    basePath:
      default: api

paths:

  /auth:

    post:
      tags: [ Account ]
      operationId: bathysphere.functions.register
      summary: Register
      description: |

        Register an e-mail address to get access to development API. Accounts are for development and testing purposes only. We won't share your contact information, but we do reserve the right to analyze and profile your use of our infrastructure, as well as monitor un-encrypted traffic.

        Contact us if you are interested in a dedicated database instance, or long-term multi-tenancy hosting.

      requestBody:
        $ref: '#/components/requestBodies/Register'

      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [ Account ]
      operationId: bathysphere.functions.token
      summary: Token
      description: |

        Exchange token or email and password for a Javascript Web Token. This will allow you make API calls and use graphical interfaces for a fixed period of time. If you have previously provided a secret, it will be required here to authenticate login and hash the token.

      parameters:
        - name: secret
          in: query
          schema:
            $ref: '#/components/schemas/SecretKey'

      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Account]
      operationId: bathysphere.functions.manage
      summary: Manage
      description: |

        Change e-mail address or password.

      requestBody:
        $ref: '#/components/requestBodies/Register'

      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      
  /:

    get:
      tags: [Catalog]
      operationId: bathysphere.functions.catalog
      summary: Catalog
      description: |
        Get all entity types in database as collections following the SpatioTemporal Asset Catalog specification

      parameters:

        - name: asset
          in: query
          schema:
            type: string
            default: index

        - name: extension
          description: |
            Any entity can be linked topologically to any other entity, but generally
            these are grouped in functional sets by application area:
            * `sensing` implements Open Geospatial Consortium SensorThings specification (part 1),
            and has models relevant to operating and getting data from sensor networks.
            * `tasking` builds off of the SensorThings specification part 2.
            * `mesh` implements structures for spatial simulations.

          in: query
          schema:
            type: string
            enum: [sensing, mesh, tasking, admin, catalog]

      responses:
        '200':
          description: Catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'

  /{entity}:

    post:
      tags: [Catalog]
      operationId: bathysphere.functions.create
      summary: Create
      description: |
        Create a new entity.
      parameters:
        - $ref: "#/components/parameters/entityClass"
      requestBody:
        $ref: '#/components/requestBodies/Entity'
      responses:
        '200':
          $ref: '#/components/responses/Entity'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Catalog]
      operationId: bathysphere.functions.collection
      summary: Collection
      description: |
        Get all entities of one type

      parameters:
        - $ref: "#/components/parameters/entityClass"

      responses:
        '200':
          $ref: '#/components/responses/EntityCollection'
        '404':
          $ref: '#/components/responses/NotFound'


  /{entity}({uuid}):

    get:
      tags: [Catalog]
      operationId: bathysphere.functions.metadata
      summary: Metadata
      description: |
        Get entity

      parameters:
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/entityId"

      responses:
        '200':
          $ref: '#/components/responses/Entity'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [ Catalog ]
      operationId: bathysphere.functions.mutate
      summary: Update
      description: Update entity
      requestBody:
        $ref: '#/components/requestBodies/Entity'

      parameters:
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/entityId"

      responses:
        '200':
          $ref: '#/components/responses/Entity'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [ Catalog ]
      operationId: bathysphere.functions.delete
      summary: Delete
      description: Delete entity and orphans recursively.
      parameters:
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/entityId"

      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/NotFound'

        
  /{root}({rootId})/{entity}:

    get:
      tags: [ Topology ]
      operationId: bathysphere.functions.query
      summary: Query
      description: |
        Get related entities

      parameters:
        - $ref: "#/components/parameters/root"
        - $ref: "#/components/parameters/rootId"
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/label"

      responses:
        '200':
          $ref: '#/components/responses/EntityCollection'
        '400':
          $ref: '#/components/responses/BadRequest'


  /{root}({rootId})/{entity}({uuid}):

    post:

      tags: [ Topology ]
      operationId: bathysphere.functions.join
      summary: Join
      description: Create a labeled relationship between entities.
      parameters:
        - $ref: "#/components/parameters/root"
        - $ref: "#/components/parameters/rootId"
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/entityId"
        - $ref: "#/components/parameters/label"

      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'

    delete:
      tags: [Topology]
      operationId: bathysphere.functions.drop
      summary: Drop
      description: |
        Remove a labeled relationship between entities. If no `label` is specified, remove all
        relationships between the entities.

      parameters:
        - $ref: "#/components/parameters/root"
        - $ref: "#/components/parameters/rootId"
        - $ref: "#/components/parameters/entityClass"
        - $ref: "#/components/parameters/entityId"
        - $ref: "#/components/parameters/label"

      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'


  # /bivalve:

  #   get:
  #     tags: [Bivalve]
  #     summary: Model index
  #     # operationId: bathysphere.functions.index
  #     description: |
  #       Get metadata for all model configurations.

  #     responses:
  #       '200':
  #         description: Model configurations
  #         content:
  #           application/json:
  #             schema:
  #               title: modelConfigurations
  #               type: object
  #               properties:
  #                 value:
  #                   type: array
  #                   items:
  #                     $ref: '#/components/schemas/Configuration'

  #   post:
  #     tags: [Bivalve]
  #     summary: Configure model
  #     # operationId: bathysphere.functions.configure
  #     description: |

  #       Upload a configuration that will be associated with your account. 
  #       The settings will be accessible by reference for starting further 
  #       simulations with the same mathematical and computational
  #       behavior. Configurations are immutable after the first time 
  #       they are run to allow reproducibility.

  #     requestBody:
  #       description: Model configuration
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/Configuration'

  #     responses:
  #       '200':
  #         description: Model configuration URI
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 self:
  #                   type: string
  #                   format: url
  #                   description: Link back to this entity


  # /bivalve/{objectKey}:

  #   get:
  #     tags: [Bivalve]
  #     summary: View configuration or experiment
  #     description: |
  #       Retrieve details about a model configuration or simulation. 

  #       This includes links to and summary statistics of the individual simulations using these settings.

  #     parameters:
  #       - $ref: '#/components/parameters/ObjectKey'
      
  #     responses:
  #       '200':
  #         description: Return configuration or simulation result
  #         content:
  #           application/json:
  #             schema:
  #               oneOf:
  #                 - $ref: '#/components/schemas/Configuration'
  #                 - $ref: '#/components/schemas/Experiment'
      
  #   post:

  #     tags: [Bivalve Model]
  #     summary: Run experiment
  #     # operationId: bathysphere.functions.run
  #     description: |

  #       The bivalve endpoint uses either constant conditions over a 
  #       fixed period, or time-series data sources. Responses
  #       are JSON structures. 

  #       The application executes a synchronous kernel call for 
  #       every location, and solves for
  #       mass conservation and energy dynamics.

  #     parameters:
  #       - $ref: '#/components/parameters/ObjectKey'
  #       - $ref: '#/components/parameters/weight'

  #       - in: query
  #         name: species
  #         description: string identifier for culture species
  #         required: true
  #         schema:
  #           type: string
  #           default: oyster
  #           enum: [oyster, mussel, scallop]

  #       - in: query
  #         name: cultureType
  #         description: |
  #           String identifier for culture method. 
  #           Mid-water configurations reutilize pseudofeces,
  #           while bottom culture prevents re-suspension.
  #         schema:
  #           type: string
  #           enum: [mid-water, bottom, rope]
  #           default: mid-water
        
  #     requestBody:
  #       description: | 
  #         JSON object containing forcing information
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             properties:
  #               forcing:
  #                 title: forcingParameters
  #                 description: |
  #                   Time-varying forcing conditions for the 
  #                   model execution.
  #                 type: array
  #                 items:
  #                   type: array
  #                   items: 
  #                     type: object
  #                     properties:

  #                       temperature:
  #                         description: |
  #                           Temperature, degrees Celsius, controls vital rates.
  #                         type: number
  #                         format: float
  #                         minimum: 0.0
  #                         maximum: 40.0

  #                       turbidity:
  #                         description: |
  #                           Turbidity helps determine the amount of food available to shellfish.

  #                         type: number
  #                         format: float
  #                         minimum: 0.0
  #                         maximum: 1

  #                       chlorophyll:
  #                         description: |
  #                           Chlorophyll-a concentration (ug/L) is a proxy for food availability.
  #                         type: number
  #                         format: float
  #                         minimum: 0.0

  #                       salinity:
  #                         description: Salinity, PSU
  #                         type: number
  #                         format: float
  #                         minimum: 0
  #                         maximum: 40

  #                       current:
  #                         description: Current speed, cm/s
  #                         type: number
  #                         format: float
  #                         minimum: 0
  #                         maximum: 100

  #                       particulateOrganicMatter:
  #                         description: | 
  #                           Particulate Organic Matter (mg/L), or POM, is used as an additional food source.
  #                         type: number
  #                         format: float
  #                         minimum: 0

  #                       totalParticulateMatter:
  #                         description: |
  #                           Total or suspended particulate matter, mg/L
  #                         type: number
  #                         format: float
  #                         minimum: 0

  #                       particulateOrganicCarbon:
  #                         description: |
  #                           Particulate organic carbon, POC, ug/L
  #                         type: number
  #                         format: float
  #                         minimum: 0

  #                       oxygen:
  #                         description: |
  #                           Dissolved oxygen concentration (mg/L) acts as a limitation on metabolism.
  #                         type: number
  #                         format: float
  #                         minimum: 0

  #                       seed:
  #                         description: |
  #                           Number of seed added during the first time step.
  #                         type: integer
  #                         minimum: 1
  #                         default: 1

  #     responses:
  #       '200':
  #         description: Return simulation link
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 self:
  #                   type: string
  #                   format: url
  #                   description: Link back to this entity
              

components:

  parameters:

    ploidy:
      in: query
      name: ploidy
      description: |
        Shellfish are assumed to be reproductive, and therefore diploid. 
        Future features will include phylogeography tools.

      schema:
        type: string
        enum: [diploid, triploid]
        default: diploid

    dryWeight:
      in: query
      name: dryWeight
      description: |
        Actual mass of organic material. Automatically calculated from fresh weight.
      schema:
        type: number
        format: float
        minimum: 0.0

    shellHeight:
      in: query
      name: shellHeight
      description: |
        Linear size measurement. Automatically calculated from fresh weight.
      schema:
        type: number
        format: float

    volume:
      in: query
      name: volume
      description: Control volume for density-dependence
      schema:
        description: |
          Control volume for density-dependence, measure in liters. As the number of organisms per unit volume increases,
          competition for limited resources like food or oxygen can come into play.

        type: number
        format: float
        minimum: 1
        maximum: 1000

    weight:
      name: weight
      in: query
      required: true
      schema:
        $ref: "#/components/schemas/Weight"


    root:
      in: path
      required: true
      name: root
      description: |
        The class name of the root or parent entity that the request object is associated with. During a `GET` request
        this will be used to collect child entities based on graph relationship. For `PUT` and `POST` requests this
        and the child entities will be linked with a labeled relationship.

      schema:
        type: string

    rootId:
      in: path
      required: true
      name: rootId
      description: |
        Unique integer identifier of the parent entity.
      schema:
        type: string

    entityClass:
      in: path
      required: true
      name: entity
      description: |
        Name of the entity model to create or fetch.

      schema:
        type: string
        enum:
          - DataStreams
          - Observations
          - HistoricalLocations
          - Locations
          - Sensors
          - Things
          - ObservedProperties
          - Tasks
          - Actuators
          - TaskingCapabilities
          - FeaturesOfInterest
          - Collections

    entityId:
      in: path
      required: true
      name: uuid
      description: |
        Unique identifier of the resource to be retrieved.
      schema:
        type: string


    label:
      in: query
      name: label
      description: |
        Should be in format `LABEL`, although this is not strictly necessary. Labeled relationships
        are used to crawl over the graph.
      schema:
        type: string


    ObjectKey:
      in: path
      name: objectKey
      required: true
      description: UUID of experiment data
      schema:
        type: string

    ThingId:
      in: path
      name: thingId
      required: true
      description: Unique identifier of the object to copy.
      schema:
        type: integer
        minimum: 0

    configId:
      in: query
      name: configId
      description: |
        A reference to a model configuration can be used instead of supplying values for `runs`, `workers`, `dt`, and
        `days`.
      schema:
        type: integer


  requestBodies:

    Register:
      description: |
        Request is e-mail and password, plus an optional secret key for encrypting password and data.
        Note that if you lose the secret key, you will lose access to data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Register'

    Collection:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Collection'

    Entity:
      description: |
        Entity
      content:
        application/json:
          schema:
            type: object
            anyOf:  # change back to oneOf? needs discriminator
              - $ref: '#/components/schemas/Thing'
              - $ref: '#/components/schemas/Location'
              - $ref: '#/components/schemas/HistoricalLocation'
              - $ref: '#/components/schemas/DataStream'
              - $ref: '#/components/schemas/Observation'
              - $ref: '#/components/schemas/ObservedProperty'
              - $ref: '#/components/schemas/Sensor'
              - $ref: '#/components/schemas/FeatureOfInterest'
              - $ref: '#/components/schemas/Collection'

    CollectionUpdate:
      description: |
        Relabel or index an entity collection

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CollectionOptions'

    Asset:
      description: |
        Tell the server where to find the data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Asset'


  responses:

    Asset:
      description: |
        Description of the file
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Asset'

    Collection:
      description: |
        Description of the service and data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Collection'

    Entity:
      description: |
        Single entity
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Thing'
              - $ref: '#/components/schemas/Location'
              - $ref: '#/components/schemas/HistoricalLocation'
              - $ref: '#/components/schemas/DataStream'
              - $ref: '#/components/schemas/Observation'
              - $ref: '#/components/schemas/ObservedProperty'
              - $ref: '#/components/schemas/Sensor'
              - $ref: '#/components/schemas/FeatureOfInterest'

    EntityCollection:
      description: |
        Collection of entities

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityCollection'

    TokenResponse:
      description: Auth token
      content:
        application/json:
          schema:
            type: object
            properties:

              token:
                description: JWT Bearer token containing user ID
                type: string
                minLength: 127

              duration:
                type: integer
                description: JWT expiration interval in seconds
                default: 600
                minimum: 30
                maximum: 3600

    Message:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
                
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:


    Asset:
      type: object

    CollectionOptions:
      allOf:
        - $ref: '#/components/schemas/Collection'
        - type: object
          properties:

            label:
              $ref: '#/components/schemas/EntityLabel'

            indexBy:
              type: string
              default: id
              enum:
                - id
                - location
                - ts
              description: |
                Node attribute to create an index on.


    EntityLabel:
      type: string
      enum:
        - Proxy
        - Buoy
        - Server
        - Metadata
        - File
        - Raw
      description: |
        Additional node labels that can be applied to entities, which have internal meaning.

  
    Message:
      type: object
      properties:
        message:
          type: string
          description: Status message

    Index:
      type: string
      description: Class name of entities to index.

    SecretKey:
      description: |
        Your secret key is used to encrypt traffic and private data, such as your login credentials. If you do not
        provide your own key, a default secret will be used. If you do provide a secret key, make sure to save it.
        It is not possible for us to recover data encrypted with a user secret.

      type: string

    Register:
      type: object
      properties:

        email:
          description: |
            Registration requires an e-mail that can be used to validate non-profit or educational affiliation.
          type: string

        password:
          description: |
            Password cannot be `password`, but there are no character limits otherwise.
            A compromised account will only expose your data and publicly available
            datasets. This is encrypted to prevent possible re-use across other services. Use a good random password.
          type: string
          minLength: 10
          maxLength: 128

        secret:
          $ref: '#/components/schemas/SecretKey'

    EntityCollection:
      allOf:
        - type: object
          properties:
            "@iot.count":
              type: integer
              minimum: 1
              maximum: 100
              description: Total number of records in the response

            value:
              type: array
              description: Array of response data
              items:
                oneOf:
                  - $ref: '#/components/schemas/Thing'
                  - $ref: '#/components/schemas/Location'
                  - $ref: '#/components/schemas/HistoricalLocation'
                  - $ref: '#/components/schemas/DataStream'
                  - $ref: '#/components/schemas/Observation'
                  - $ref: '#/components/schemas/ObservedProperty'
                  - $ref: '#/components/schemas/Sensor'
                  - $ref: '#/components/schemas/FeatureOfInterest'
        - $ref: '#/components/schemas/Collection'

    EntityClass:
      type: string
      enum:
        - DataStreams
        - FeaturesOfInterest
        - Locations
        - Observations
        - ObservedProperties
        - Sensors
        - Things
        - Collections
        - Actuators
        - TaskingCapabilities
        - Tasks

    Entity:
      type: object
      properties:

        id:
          type: integer
          readOnly: true
          description: |
            Unique integer identifier for entity. This usually auto-generated, but is different that the default node
            IDs within the Neo4j database, since those are not guaranteed to persist.

        name:
          type: string
          nullable: true
          description: |
            Human readable entity name for displaying data.

        description:
          type: string
          nullable: true
          description: |
            Short but useful explanation of what the entity is.

    FeatureOfInterest:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |
            Features of interest are usually Locations

          properties:

            encodingType:
              type: string
              description: Identifier for parsing feature data

            feature:
              type: object
              description: Feature data

            Observations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

    Thing:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |
            A thing is an object of the physical or information world that is capable of of being identified
            and integrated into communication networks.

          properties:

            entityClass:
              writeOnly: true
              enum: [thing]
              default: thing

            properties:
              type: object
              description: Key-value properties

            HistoricalLocations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

            Locations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

            DataStreams:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object


    LocationEncodingType:
      type: string
      enum:
        - "application/vnd.geo+json"
        - "application/vnd.network+json"
      default: "application/vnd.geo+json"
      description: The encoding rendered in the location response

    Location:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |
            Last known location of a thing. May be a feature of interest, unless remote sensing.

          properties:

            entityClass:
              writeOnly: true
              enum: [location]
              default: location

            encodingType:
              $ref: '#/components/schemas/LocationEncodingType'

            location:
              type: object
              properties:
                type:
                  type: string
                  enum: ["Point", "Polygon"]
                coordinates:
                  type: array
                  minLength: 2
                  maxLength: 3
                  items:
                    type: number
                    format: float


            HistoricalLocations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object


            Things:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

    HistoricalLocation:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          properties:

            entityClass:
              writeOnly: true
              enum: [HistoricalLocation]
              default: HistoricalLocation

            encodingType:
              $ref: '#/components/schemas/LocationEncodingType'

            time:
              type: string
              format: date-time
              description: Timestamp when the location was current

            Things:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  minItems: 1
                  maxItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  minItems: 1
                  maxItems: 1
                  items:
                    type: object

            Locations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  minItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  minItems: 1
                  items:
                    type: object

    Sensor:

      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          properties:

            entityClass:
              writeOnly: true
              type: string
              enum: [sensor]
              default: sensor

            encodingType:
              type: string
              enum: [application/pdf, "http://www.opengis.net/doc/IS/SensorML/2.0"]
              default: "http://www.opengis.net/doc/IS/SensorML/2.0"

            metadata:
              type: object

            DataStreams:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

    DataStream:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |

            DataStreams are collections of `Observations` from the same `Sensor`.

          properties:

            entityClass:
              writeOnly: true
              type: string
              enum: [DataStream]
              default: DataStream

            unitOfMeasurement:
              type: object
              description: |
                Unified Code for Unit of Measure

              properties:
                name:
                  type: string
                  description: Name for matching and displaying

                symbol:
                  type: string
                  nullable: true
                  description: Abbreviation for the parameter

                definition:
                  type: string
                  nullable: true
                  description: A link to a formal definition

            observationType:
              type: string
              description: |
                Data model of child `Observations`. Usually a `Measurement`.

              nullable: true
              enum:
                - "OM_CategoryObservation"
                - "OM_CountObservation"
                - "OM_Measurement"
                - "OM_Observation"
                - "OM_TruthObservation"

            observedArea:
              type: object
              nullable: true
              readOnly: true
              description: |
                The bounding box that encloses all `FeaturesOfInterest` referenced by child `Observations`

            phenomenonTime:
              type: array
              description: |
                Time interval of the measured process, consisting of two ISO8601 timestamps.
              minItems: 2
              maxItems: 2
              items:
                type: string
                format: date-time

            resultTime:
              type: array
              description: |
                Time interval of receiving data, consisting of two ISO8601 timestamps. May be different than the
                measured process, due to batch uploads, latency, lack of real-time clocks in devices, etc.
              minItems: 2
              maxItems: 2
              items:
                type: string
                format: date-time

            table:
              type: string
              description: |
                Time series observations associated with a `DataStream` can be stored in the TimescaleDB.
                TimescaleDB is an extension of Postgres+Postgis, and this is SQL table reference to find and retrieve data.


            Observations:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  items:
                    type: string

                - type: array
                  title: objects
                  items:
                    type: object

            ObservedProperties:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  minItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  minItems: 1
                  items:
                    type: object

            Sensors:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  minItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  minItems: 1
                  items:
                    type: object

            Things:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  minItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  minItems: 1
                  items:
                    type: object


    Observation:
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          properties:

            resultTime:
              type: string
              format: date-time
              description: |
                Timestamp when the `Observation` was registered by the system.

            resultQuality:
              type: string
              description: |
                Quality of the result described as a `DQ_Element` (OGC)

            validTime:
              type: array
              description: Time interval when the result is valid
              minItems: 2
              maxItems: 2
              items:
                type: string
                format: date-time

            phenomenonTime:
              type: string
              format: date-time
              description: |
                Timestamp of the acquisition of the `Observation`

            result:
              description: The result of the observation. Usually a number.
              type: number
              format: float

            parameters:
              type: object
              description: Environmental conditions during the `Observation`

            DataStreams:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  maxItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  maxItems: 1
                  items:
                    type: object

            FeaturesOfInterest:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  maxItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  maxItems: 1
                  items:
                    type: object

    ObservedProperty:

      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          properties:
            definition:
              type: string
              nullable: true
              description: Reference to resource that defines the property. We default to trying Wikipedia.

            DataStreams:
              readOnly: true
              oneOf:

                - type: array
                  title: references
                  maxItems: 1
                  items:
                    type: string

                - type: array
                  title: objects
                  maxItems: 1
                  items:
                    type: object

    Collection:
      title: stacCollection
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |
            SpatioTemporal Asset Catalog object-linking collection object. Collections are generic, while some
            SensorThings entities are special Collections. For instance, a `DataStream` is a collection of
            `Observations`.

          properties:

            extent:
              $ref: '#/components/schemas/Extent'

    Extent:
      title: extent
      type: object
      readOnly: true
      nullable: true
      description: |

        Spatiotemporal extent of a data `Collection`. Contains a 2 or 3-D `spatial` extent, and a `temporal`
        interval.

      properties:

        spatial:
          type: array
          minLength: 4
          maxLength: 6
          items:
            type: number
            format: float

        temporal:
          type: string
          description: ISO format timestamp interval


    Provider:
      title: dataProvider
      allOf:
        - $ref: '#/components/schemas/Entity'
        - type: object
          description: |
            Data providers are organizations or individuals that produce, process, host, or license data.

          properties:

            url:
              type: string
              description: URL to organization website

            roles:
              type: array
              description: |
                Data providers are labeled with a role, so that attribution and redaction works properly on synthesized
                datasets. Data in the system m
              items:
                title: providerRole
                type: string
                enum:
                  - licensor
                  - producer
                  - processor
                  - host


    Weight:
      description: |
        The total fresh product weight in grams. There are other conversions depending on your application case.

        Biogeochemical modelers are likely more interested in carbon and nutrient masses. This will apply best to products sold by weight like mussels.

      type: number
      format: float
      minimum: 0.0

    Error:
      type: object
      properties:
        message:
            type: string

    Configuration:
      type: object
      properties:

        self:
          type: string
          readOnly: true
          description: |
            Link back this the object

        metadata:
          type: object
          description: |
            Metadata for the configuration. Includes indexing and search data.
          properties:
            name:
              type: string
              maxLength: 50
              description: |
                A human readable name for the model configuration
            description:
              type: string
              description: |
                A short description to help understand the purpose of the simulation
            keywords:
              type: array
              nullable: true
              description: |
                You may optionally attach keywords to the configuration
              items:
                type: string
            license: 
              type: string
              default: proprietary
              description: |
                We need to know licensing restrictions to properly route your data.

        properties:
          type: object
          description: |
            When you configure a simulation, it will persist
            indefinitely. After the first production run it will be frozen. Future derived versions will be connected
            to preserve model provenance and intent.

          properties:

            workers:
              nullable: true
              description: | 
                Number of processes to use for Monte Carlo simulations.
              type: integer
              minimum: 1
              maximum: 4
              default: 1

            dt:
             
              description: |
                Time step in integer seconds. A one minute time step is probably unnecessary, unless you are validating/comparing a laboratory physiology study. Longer time steps may miss important tidal dynamics. 
                
                One hour is the recommended value, which is also a common sampling frequency for sensors deployed near growing areas (and therefore limits interpolation). 
                
                Integration is by Euler (`euler`) or Runge-Kutta (`rk`).

              type: integer
              minimum: 60
              maximum: 3600
              default: 3600

            integration:
              nullable: true
              description: |
                Integration is by Euler (`euler`) or Runge-Kutta 4th order (`rungeKutta`). Only `euler` is enabled.
              type: string
              enum: [euler]
              default: euler

            backend:
              nullable: true
              description: |
                There are several options for biological prediction. Your choice of backend will be based on your licenses
                and appetite for risk:
                * `shellsim` is available if you have licensed `ShellSIM` from Plymouth Marine Laboratory
                * `empirical` uses multiple linear regression and field data to drive growth predictions
                * `ensemble` uses mix of proprietary models and public data

                Only `ensemble` is enabled.

              type: string
              enum: [ensemble]
              default: ensemble

        experiments:

          description: |
            Collection of multi-simulation experiments produced by this model configuration
          type: array
          readOnly: true
          nullable: true
          items:
            type: string

    Experiment:
      title: time series
      type: object
      properties:

        data:

          type: array
          description: | 
            Result of the simulation.

          items:
            type: array
            items:

              type: object
              required:
                - time
                - weight
              properties:

                time:
                  description: |
                    Time in days. While computational time steps are usually hourly or shorter, the interval of interest for aquaculture is measured in days. 
                    
                    The internal clock uses integers to prevent numerical problems in long running simulations, but this is translated to decimal hours for calculating physiological rates.

                  type: number
                  format: float
                  minimum: 0.0

                weight:
                  $ref: "#/components/schemas/Weight"

                oxygenUptake:
                  nullable: true
                  description: |
                    Cumulative oxygen uptake. Metabolism removes oxygen from the water column. 
                    
                    If aeration does not exceed the rate of biological uptake (plus other processes), the water body will become hypoxic or anoxic.

                  type: number
                  format: float
                  minimum: 0.0

                chlorophyllUptake:
                  nullable: true
                  description: |
                    Filter feeding removes phytoplankton from the water column. Chlorophyll is a proxy for the productivity of the water body. 
                    
                    When there are too many shellfish in a semi-closed system, they can deplete available
                    food for conspecifics.

                  type: number
                  format: float
                  minimum: 0.0

                nitrogenUptake:
                  nullable: true
                  description: |
                    Filter feeding moves nitrogen from the environment into tissue.
                  type: number
                  format: float
                  minimum: 0.0

                nitrogenExcretion:
                  nullable: true
                  description: |
                    Shellfish excrete nitrogen through membrane transfer.

                  type: number
                  format: float
                  minimum: 0.0

                ammoniaLoss:
                  nullable: true
                  description: |
                    Ammonia is released to the environment as waste. This can stimulate the growth of plankton.

                  type: number
                  format: float
                  minimum: 0.0

                deposition:
                  nullable: true
                  description: |
                    Shellfish are widely considered beneficial to water quality. However, they can concentrate biological material into feces and pseudofeces. 
                    
                    These particulate forms sink more quickly, and may settle in mats either under the culture area, or downstream.
                    
                    Decomposition can lead to sediment and bottom water hypoxia.
                  type: number
                  format: float
                  minimum: 0.0

        workers:
          type: integer
          description: | 
            Parallelism used, multiplies execution time for calculating billable compute time.

        configuration:
          type: string
          format: url
          description: | 
            Link to the model configuration that the result derives
            from.
        
        start:
          type: number
          format: float
          description: |
            Start time

        finish:
          type: number
          format: float
          description: | 
            Time that the backend processes completes

        forcing:
          type: array
          description: |
            Forcing data used as input to the model

        self:
          type: string
          format: url
          description: |
            Link back to this asset
